@import url('https://fonts.googleapis.com/css?family=Girassol|IM+Fell+French+Canon+SC&display=swap');

* {
    font-family: 'Girassol', cursive;
    overflow-x: hidden;
    letter-spacing: 0.06em;
}

